/* styles.css */

.show-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    max-height: 400px; /* Set a max height for the container */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.shows {
    margin-bottom: 40px;
    width: calc(25% - 4px); /* Set the width for each column */
}

a, li {
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 black;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the link inline so it wraps the text only */
    margin-right: 10px; /* Add space to the right of each link */
}

a, li:hover {
    color: aqua;
}


h1 {
    color: rgb(223, 110, 194);
    text-align: center;
}

h3 {
    color: rgb(223, 110, 194);
}

.delete-button {
    background-color: white;
    color: red;
    border: 1px solid red; /* Add border */
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
    color: white;
    border: 1px solid darkred; /* Change border color on hover */
}

hr {
    width: 100%; /* Full width */
    height: 3px; /* Thickness of the line */
    background-color: white; /* Color of the line */
    margin: 20px 0; /* Spacing above and below the line */
    border: none; /* No border */
}

